body {
  margin: 0;
  font-family: 'Helvetica', Arial, Helvetica, sans-serif, monospace, sans-serif;
  background-color: #ECDFCC;
}
.header {
  color: #C57937;
}

.container {
  padding: 1rem;
}

.form-container {
  max-width: 600px;
  margin: auto;
}

.footer {
  background-color: #c57937;
  /*color: #fff;*/
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
